/*
    Colores:
    color: #034C8C
    color: #024873
    color: #025373
    color: #038C7F
    color: #0D0D0D
*/

.formulario {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.formulario__alerta___Error {
    align-self: flex-start;
    background: #0D1B2A;
    border-radius: 1rem;
    color: #E0E1DD;
    display: flex;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-left: 2.6rem;
    margin-top: 0.5rem;
    padding: 0.3rem 2rem;
    visibility: hidden;
}

.formulario__boton {
    border: 1px solid #415A77;
    border-radius: 2rem;
    background: #E0E1DD;
    padding: 0.9rem 4rem;
    transition: 0.3s;
}

.formulario__boton:hover {
    padding: 1.2rem 4.3rem;
    transition: 0.3s;
}

.formulario__boton:active {
    padding: 1.2rem 4.3rem;
    background: darkgray;
    /*rgb(224,255,221) rbg(213,243,210)*/
    transition: 0.3s;
}

.formulario__container___div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.formulario__contenido {
    background: #034C8C;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    padding: 2rem;
    width: 60%;
}

.formulario__input {
    border-radius: 2rem;
    border: 1px solid #034C8C;
    font-size: 1rem;
    padding: 0.5rem;
    width: 80%;
}

.formulario__label {
    align-self: flex-start;
    margin-left: 2.6rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    text-align: justify;
    width: 80%;
}

.formulario__leyenda {
    border-bottom: 1px solid;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}

.formulario__select {
    width: 82%;
}

.formulario__select___sexo {
    width: 82%;
}

@media (max-width:800px) {
    .formulario {
        padding: 1.3rem;
    }

    .formulario__alerta___Error {
        align-self: center;
        margin-left: 0rem;
    }

    .formulario__container___div {
        margin-bottom: 0rem;
        width: auto;
    }

    .formulario__contenido {
        width: 100%;
    }
}