/*font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;*/

/*https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd*/

.header {
    background: #E0E1DD;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header__item {
    margin-right: 1.2rem;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    color: rgb(11, 55, 158);
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

.header__list {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 1.6rem;
}

.header__logo {
    background: url(../img/logo_pro.png);
    background-position: center;
    background-size: cover;
    padding: 4rem;
}

.header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
    width: 100%;
}

@media (max-width:720px) {
    .header__nav {
        flex-direction: column;
    }

    .header__list {
        align-items: center;
        flex-direction: column;
        padding: 0 0 1.2rem 0;
    }

    .header__item {
        margin-right: 0;
        margin-bottom: 0.9rem;
    }

    .header__item:last-child {
        margin-bottom: 0rem;
    }
}